.menu {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
}

/* flex item AND container, placed in "container" and contains "gidCell"s */
.gridColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* flex item placed in "girdColumn"s*/
.gridCell {
    flex: 1;
    border: solid black 1px;
    border-collapse: collapse;
}
